<% provide(:title, @user.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</h1>
		</section>
	</aside>
	<div class="span8">
		<% if @user.kids.any? %>
			<h3>Kids (<%= @user.kids.count %>)</h3>
			<ol class="kids">
				<%= render @kids %>
			</ol>
		<% end %>
	</div>
</div>